<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
    <meta charset="UTF-8">
    <title>List of vets</title>
</head>
<body>
<h2 th:text="'List of vets'">Vets list</h2>

<table class="table table-striped">
    <thead>
    <tr>
        <td><b>ID</b></td>
        <td><b>First Name</b></td>
        <td><b>Last Name</b></td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="vet : ${vets}">

        <td th:text="${vet.id}"></td>
        <td th:text="${vet.firstName}"></td>
        <td th:text="${vet.lastName}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>